name: Build and Test Backend

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    paths: [ "pom.xml", "model/**", "server/**", ".github/workflows/maven.yaml", ".mvn/wrapper/**", "mvnw" ]

permissions:
  contents: read
  packages: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
      - name: Set up JDK 25
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven
      - name: Cache SonarQube packages
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Build and test
        run: ./mvnw -B -Dstyle.color=always verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=dm-collection_dmcollection_server
        env:
          GITHUB_TOKEN: ${{ github.token }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
